@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#header {
	/*border: 3px solid blue;*/

	background-color: rgba(255, 184, 77, 0.18);

	padding-top: 0.6%;
	border-bottom: 1px solid #cccccc;
}

#firstName {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	font-size: 1.2em;
	color: #ffb84d;
}

#lastName {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	color: #ffb84d;
	
	padding-left: 1%;
}

.links { 
	text-align: center;
	/*text-transform: uppercase;*/
 }

 #padMe {
 	padding-left:1%;
 	padding-right:1%
 }

 #currentPage {
 	color: coral;
 }

/* -----------body----------- */
body {
	background-color: #FFFFFF;
	margin:auto auto;
}
	
	#name {
		
		font-size: 33px;
		font-style: oblique;
		color: #333333;
		margin-left: 42%;
		margin-top: 16%;
		margin-bottom: 1%;
	}

	#CitrusHack {
		margin-top: 40px;
	}

	.title {
		color: coral;
	}

	.title:hover {
		color: darkgray;
	}

	.indent {
		margin-left: 3%;
		padding-left: 2%;
		border-left: 5px solid coral;
	}

	#projectsBody {
		opacity:0;  /* make things invisible upon start */
		-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:0.5s;
		-moz-animation-duration:0.5s;
		animation-duration:0.5s;

		margin-left: 13%;
		margin-right: 13%;
		margin-top: 5%;
	}

	.description {
		font-family: 'Inconsolata', monospace;
		line-height: 1.5;
		color: #333333;
	}

	.gallery {
		opacity:0;  /* make things invisible upon start */
		-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
		animation-duration:1.5s;

		background-color: #ffe6b3;
		border-radius: 10px;

	}

	img {
		height: 70px;
	}

		.column {
		    float: left;
		    /*width: 10%;*/
		    padding: 10px;
		}

		/* Style the images inside the grid */
		.column img {
		    opacity: 0.8; 
		    cursor: pointer; 
		}

		.column img:hover {
		    opacity: 1;
		}

		/* Clear floats after the columns */
		.row:after {
		    content: "";
		    display: table;
		    clear: both;
		}

		/* The expanding image container (positioning is needed to position the close button and the text) */
		.container {
		    position: relative;
		    display: none;
		}

		/* Expanding image text */
		#imgtext {
		    position: absolute;
		    bottom: 15px;
		    left: 15px;
		    color: white;
		    font-size: 20px;
		}

		/* Closable button inside the image */
		.closebtn {
		    position: absolute;
		    top: 10px;
		    right: 15px;
		    color: white;
		    font-size: 35px;
		    cursor: pointer;
		}


/* -----------footer----------- */
#footer {
	font-family: 'Inconsolata', monospace;
	color: #333333;
	text-align: center;

	padding: 2.5%;

	margin-top: 15%;

	border-top: 1px solid #cccccc;
}

.buttons {
	padding-top: 1%
	padding-bottom: 1%;
}

	#mailIcon {
		border: 1px solid darkgray;
		border-radius: 25%;
		box-shadow: 0px 0px 2px darkgray;
		padding: 0.5em 0.6em;
	}
	#mailIcon:hover {
		border-color: coral;
		box-shadow: 0px 0px 2px coral;
	}

	#socialIcon {
		border: 1px solid darkgray;
		border-radius: 25%;
		box-shadow: 0px 0px 2px darkgray;
		padding: 0.5em 0.6em;
	}
	#socialIcon:hover {
		border-color: coral;
		box-shadow: 0px 0px 2px coral;
	}

	#gitIcon {
		border: 1px solid darkgray;
		border-radius: 25%;
		box-shadow: 0px 0px 2px darkgray;
		padding: 0.5em 0.6em;
	}
	#gitIcon:hover {
		border-color: coral;
		box-shadow: 0px 0px 2px coral;
	}

/* -----------links----------- */
a {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;

	text-decoration: none;
	color: darkgray;
}

a:hover {
	color: coral;
}

a:active {
	color: darkgray;
}